<ion-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title pull-right">Capture Image</h1>
  </ion-header-bar>
      <ion-content scroll="false">

    <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
    </ion-scroll>

<div class="button-bar" style="position: fixed; bottom: 0em;">
  <a class="button button-large button-positive" ng-click="addImage()">Cancel</a>
  <a class="button button-large button-positive" ng-click="addMedia()">Submit</a>
</div>

  </ion-content>

</ion-view>
