<ion-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title pull-right">Capture</h1>
  </ion-header-bar>
      <ion-content scroll="false">

        <div class="list card">

          <label class="item item-input item-select">
            <div class="input-label">
              Name of the child
            </div>

              <select ng-options="item.name for item in diaries" ng-model="currentEntry.diary" >
               <option value="">Select Diary</option>
             </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Session
            </div>
            <select ng-model="currentEntry.session" >
              <option selected>breakfast</option>
              <option>morning</option>
              <option>lunch</option>
              <option>afternoon</option>
              <option>dinner</option>
            </select>
          </label>
        </div>

        <div class="list card">

      <div class="item" style="height: 10vh">
          <textarea ng-model="currentEntry.activityName" ></textarea>
      </div>

      </div>

  <div class="list card">

<div class="item" style="height: 48vh">
    <textarea ng-model="currentEntry.description" ></textarea>
</div>


  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-camera"></i>
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-document"></i>
    </a>
  </div>

</div>

<div class="button-bar" style="position: fixed; bottom: 0em;">
  <a class="button button-large button-positive" ng-click="mainMenu()">Cancel</a>
  <a class="button button-large button-positive" ng-click="saveEntry()">Submit</a>
</div>

  </ion-content>

</ion-view>
